#searchInput {    
  width: 25%;
  height: 1rem;
  border: none;
  outline: none;
  font-size: 2rem;
  border-radius: 15px;
  padding: 2rem;
  box-sizing: border-box;
  background-color: #ccc;
  margin-top: 4.5rem;
  margin-left: 4rem;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}

#searchInput:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
}

  /*Diseño de los resultados del js*/  
  #results {
    background-color: red;
    max-width: 400px;
    padding: 20px;

    position: absolute;
    margin-top: 20rem;
    margin-left: 70%;
  }
  
  .figura {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .figura img {
    max-width: 100px;
    display: block;
    margin: 0 auto;
  }
  
  .figura h3 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .figura p {
    margin: 5px 0;
}

@media only screen and (max-width: 1280px){
    .input{
     margin-left: 2rem;
     margin-top: 6rem;
    }
}

@media only screen and (max-width: 800px){
    .input{
       display: none;
    }
}