#pie{
    width: 100%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 2rem;
    background-color: #F9AB55;

    display: flex;
    flex-direction: row;
}
.textos{
    margin-right: auto;
    width: 40%;
    height: auto;
    padding: 15px;
    box-sizing: border-box;
}
.textos h2{
    font-size: 8rem;
}
.textos h4{
    margin-top: 1rem;
    font-size: 2.5rem;
}
.textos p{
    margin-top: 1rem;
    font-size: 5rem;
}
a{
    text-decoration: none;
}


.textos p{animation:shake-left-right 0.8s linear both} @keyframes shake-left-right{0%,100%{transform:rotate(0deg);transform-origin:50% 50%}10%{transform:rotate(8deg)}20%,40%,60%{transform:rotate(-10deg)}30%,50%,70%{transform:rotate(10deg)}80%{transform:rotate(-8deg)}90%{transform:rotate(8deg)}}

.imgss{
    width: 40%;
    height: auto;
    padding: 5px;
    box-sizing: border-box;
}
.slogan{
    width: 100%;
    height: auto;
    margin-top: 4rem;
}
.btn-caja{
    width: 100%;
    height: auto;
    padding: 5px;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
}
@media only screen and (max-width: 1280px){
   .textos h2{
    font-size: 4rem;
   }
   
   .textos h4{
    font-size: 2.5rem;
   }
}
@media only screen and (max-width: 800px){
    .textos h2{
     font-size: 2.5rem;
    }
    
    .textos h4{
     font-size: 1.5rem;
    }

    .textos p{
        font-size: 2rem;
    }
 }